@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

// Variables
$fs-logo : 20px;


@mixin adjust($display, $justify, $align )
{
  display: $display;
  justify-content: $justify;
  text-align: $align;
}
//===========================

.header {
  font-family: 'Kanit', sans-serif;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.5s linear;
  font-size: 18px;

    &__logo{
  position: relative;

      &__text{
        position: absolute;
        font-size: $fs-logo;
        top: 35px;
        left: 70px;
      }
    }
    .menu{
      margin-left: 200px;
    }


  }
