@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

$fs-menu : 20px;

@mixin adjust($display, $justify, $align )
{
  display: $display;
  justify-content: $justify;
  text-align: $align;
}

.header {
  font-family: 'Kanit', sans-serif;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.5s linear;

    &__movies
    {
    .logo{
      position: relative;
      &__text{
        position: absolute;
        font-size: $fs-menu;
        top: 29px;
        left: 90px;
      }
    }
    
      &__menu{
        @include adjust(flex, center, center);
        align-items: center;
        li{
        margin-left: 40px;
        a{
        }
          }
      }
      .account{
        @include adjust(flex, end, center);
        align-items: center;
      }
    }
  }
  