h6{
  color: white;
  font-weight: bold;
}
p{
  color: white;
}
.footer{
  background-color: black;

  &__content{

    &__contact{
      display: flex;
      justify-content: space-between;
        &__item{

          &__social{    
              display: flex;
              justify-content: space-between;
              font-size: 25px;
          }
        }
    }
    &__company{
      padding: 50px;
      display: flex;
    }
  }
}