h6{
  color: white;
  font-weight: bold;
}
p{
  color: white;
}
.footer{
  background-color: black;

  &__content{

    &__contact{
      display: flex;
      justify-content: space-between;
        &__item{

          &__social{    
              display: flex;
              justify-content: space-between;
              font-size: 25px;
          }
        }
    }
    &__company{
      padding: 50px;
      display: flex;
    }
  }
}
@media screen  and (max-width: 576px) {
  .footer{
    padding-top:20px;
    &__content{
  
      &__contact{
      font-size:10px;

          &__item{
            .veti{
              width:100px;
            }
            &__social{  
              font-size: 15px;  
            }
          }
      }
      &__company{
        font-size: 10px;
        padding: 0; 
        img{
          width: 150px;
        }
      }
    }
  }
}
@media screen  and (max-width: 756px) {
  .footer{
    padding-top:20px;
    &__content{
  
      &__contact{
      font-size:10px;

          &__item{
            .veti{
              width:100px;
            }
            &__social{  
              font-size: 15px;  
            }
          }
      }
      &__company{
        font-size: 10px;
        padding: 0; 
        img{
          width: 150px;
        }
      }
    }
  }
}