@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
.movieList{
  font-family: 'Noto Serif', serif;
  background-color: black;
  padding-top: 20px;
  
.movie__tittle{
  color: white;
  text-align: center;
  background-color: black;

}
.card{
  border: none;
  position: relative;
  margin:10px;
  .overlay{
    display: none;

  }
  &:hover .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);


.item__title{
  color: white;
  font-weight: bold;
}
  }
}
}
