@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
.movieList{
  font-family: 'Noto Serif', serif;
  background-color: black;
  padding-top: 20px;
  
&__tittle{
  color: white;
  text-align: center;
  background-color: black;

}
&__card{
  border: none;
  position: relative;
  margin:10px;
  .overlay{
    display: none;
    text-align: center;
    padding-top: 80%;
  }
  &:hover .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);


.item__title{
  color: white;
  font-weight: bold;
}
.item__detail{
margin-top: 50%;
    margin-bottom: 50%;
}
.item__ticket{

}
  }
}
}
