@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

.event{
  width: 90%;
  margin: 0 auto;
  font-family: 'Noto Serif', serif;
  padding-bottom: 50px;
  &__title{
    color: white;
    text-align: center;
  }
  &__list{
    margin: 0 auto;
  }
  .card{
    cursor: pointer;
    padding: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
